body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.gameContainer {
  text-align: center;
  padding: 50px;
  background-color: lightpink;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

.gameTitle {
  padding: 20px;
  display: inline;
}

#mainTitle {
  text-align: center;
}
