body {
  font-family: atariClassicFont;
  color: white;
  background-image: url('./Audtari-background-1.jpg');
  background-size: cover;
}

.panel {
  background-image: url('./walnut.jpg');
  width: 2rem;
}

.switchboard {
  display: flex;
  justify-content: space-evenly;
}

.left-side {
  display: flex;
  justify-content: left;
}

.right-side {
  display: flex;
  justify-content: right;
}
/* .component {
  display: grid;
  grid-template-rows: repeat(5);
} */

/* .footer {
  position: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background-size: cover;
  background-repeat: round;

  background-image: url('./background-board-carpentry-construction-301378.jpg');
  border-radius: 1px;
} */

/* .footer before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;

  background-image: -webkit-linear-gradient(
      0,
      rgba(255, 255, 255, 0.014) 50%,
      transparent 50%
    ),
    -webkit-linear-gradient(0, rgba(255, 255, 255, 0.015) 50%, transparent 50%),
    -webkit-linear-gradient(0, transparent 50%, rgba(255, 255, 255, 0.02) 50%),
    -webkit-linear-gradient(0, transparent 50%, rgba(255, 255, 255, 0.02) 50%);

  -webkit-background-size: 13px, 29px, 37px, 53px;
}

.footer after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;

  background-image: -webkit-linear-gradient(
      0,
      transparent 97%,
      rgba(214, 171, 119, 0.5) 97%
    ),
    -webkit-linear-gradient(0, transparent 93%, rgb(76, 41, 28) 93%),
    -webkit-linear-gradient(0, transparent 97%, rgb(122, 70, 45) 97%);

  -webkit-background-size: 40px;
} */

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* #navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2rem solid;
  border-width: thick;
  border-color: #febd0b;
  background-color: #2d2525;
} */

h1 {
  display: flex;
  justify-content: center;
}

form div {
  margin: 1em;
  display: inline-block;
}

.rooms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#create-room-form {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  text-align: center;
  left: 25%;
  top: 25%;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

@font-face {
  font-family: atariClassicFont;
  src: url(AtariClassicChunky-PxXP.ttf);
}

nav {
  font-family: atariClassicFont;
}

button {
  font-family: atariClassicFont;
}

input {
  font-family: atariClassicFont;
}

.atariFont {
  font-family: atariClassicFont;
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: red;

  /* Create the gradient. */
  background-image: linear-gradient(45deg, lightgreen, black);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  animation-duration: 0.02s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}
